<!-- app/views/questions/_form.html.erb -->
<%= form_with(model: [@quiz, @question], local: true) do |form| %>
  <div>
    <%= form.label :content, "Question" %>
    <%= form.text_field :content, class: "input" %>
  </div>

  <div>
    <%= form.label :question_type %>
    <%= form.select :question_type, options_for_select([['Multiple Choice', 'multiple_choice']], 'multiple_choice'), disabled: true %>
  </div>

  <h3>Answers</h3>
  <%= form.fields_for :answers do |answer_form| %>
    <div>
      <%= answer_form.label :content %>
      <%= answer_form.text_field :content, class: "input" %>

      <%= answer_form.label :correct, "Correct" %>
      <%= answer_form.check_box :correct %>
    </div>
  <% end %>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
