<h1>Edit Question</h1>

<%= form_with(model: [@quiz, @question], local: true) do |form| %>
  <div class="field">
    <%= form.label :content, 'Question Content' %>
    <%= form.text_area :content, rows: 3, class: 'form-control' %>
  </div>

  <h3>Answers</h3>
  <%= form.fields_for :answers do |answer_form| %>
    <div class="field">
      <%= answer_form.label :content, 'Answer Content' %>
      <%= answer_form.text_field :content, class: 'form-control' %>
    </div>
    <div class="field">
      <%= answer_form.check_box :correct %>
      <%= answer_form.label :correct, 'Correct Answer?' %>
    </div>
    <hr>
  <% end %>

  <div class="actions">
    <%= form.submit 'Update Question', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to Quiz', quiz_path(@quiz), class: 'btn btn-secondary' %>
