<!-- app/views/quizzes/new.html.erb -->

<h1>Create a New Quiz</h1>

<%= form_with(model: @quiz, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Quiz' %>
  </div>
<% end %>

<h2>Available Quizzes</h2>
<ul>
  <% @quizzes.each do |quiz| %>
    <li><%= link_to quiz.title, quiz_path(quiz) %></li>
  <% end %>
</ul>
