<h1><%= @quiz.title %></h1>

<p><%= @quiz.description %></p>

<% if current_user.teacher? %>
  <%= link_to 'Edit Quiz', edit_quiz_path(@quiz) %> |
  <%= link_to 'Delete Quiz', quiz_path(@quiz), method: :delete, data: { confirm: 'Are you sure?' } %>
<% elsif current_user.student? %>
  <h2>Questions</h2>
  <ul>
    <% @quiz.questions.each do |question| %>
      <li>
        <p><%= question.content %></p>
        <!-- Display options and answer form -->
        <%= render partial: 'questions/answer_form', locals: { question: question } %>
      </li>
    <% end %>
  </ul>
<% end %>
