<!DOCTYPE html>
<html>
<head>
  <title>Exampad</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application.tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <% if current_user.teacher? %>
            <li><%= link_to 'Create Quiz', new_quiz_path %></li>
            <li><%= link_to 'My Quizzes', quizzes_path %></li>
          <% elsif current_user.student? %>
            <li><%= link_to 'Available Quizzes', quizzes_path %></li>
          <% elsif current_user.admin? %>
            <li><%= link_to 'Admin Dashboard', admin_dashboard_path %></li>
          <% end %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
